body {
  font-family:"Merriweather Sans";
  font-weight:300;
}

h1,h3{
  font-family:"Catamaran";
  font-weight:900;
}

h2 {
  font-family:"Catamaran";
  font-weight:700;
}

h4{
  font-family:"Catamaran";
  font-weight:700;
  font-size: 1rem;
}

/* navbar */

.navbar{
    height:150px;
}

.nav-link{
  font-family:"Catamaran";
  font-weight:700;
  font-size: 1.5rem;
  color:black;
}

.navbar-brand {
  font-family:"Catamaran";
  font-weight:900;
  font-size: 1.5rem;
  color:black;
}

.site-footer {
  color:#FFFFFF;
  background-color: #779A98;
  width: 100%;
  height: 400px;
  line-height: 60px;
}


@media (min-width: 992px) {

  .navbar-brand{
    font-size: 3rem;
  }

  h4{
    font-size:1.5rem;
  }

  
}