body {
  background-color: #FCF9ED;
  font-family:"Merriweather Sans";
  font-weight:300;
  margin:0px;
  padding:0px;
}

h1,h3,h2{
  font-family:"Catamaran";
  font-weight:900;
  margin:0px;
}

h4 {
  font-family:"Catamaran";
  font-weight:700;
  margin:0px;
}

h1{
  font-size: 7rem;
}

h2{
  font-size:2.5rem;
}
h3{
  font-size:1.3rem;
}

h4{
  font-size: 1rem;
}

h5{
  font-size:1rem;
}

/* GeneralButtons */

.button-styling-green{
  color:#FFFFFF;
  background-color: #779A98;
  border-radius:0px;
  font-family:"Catamaran";
  font-weight:900;
  border-color:transparent;
}

/* HeaderComponent */

.navbar{
  background-color: #A1CFCD;
  /* border-bottom:solid 2px black; */
}

.navbar-light .navbar-nav .nav-link{
  font-family:"Catamaran";
  font-weight:700;
  font-size: 1.1rem;
  color:black;
  background:linear-gradient(to bottom,  #A1CFCD 50%, #FFFFFF 50%);
  max-height:45px;
  padding:0 30px;
}

.navbar-light .navbar-toggler{
  border:none;
}
.navbar-light .navbar-toggler-icon{
  border:none;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:grey;
  transition:all 0.3s ease-in-out;
}

.navbar-brand {
  font-family:"Catamaran";
  font-weight:900;
  font-size: 1.5rem;
  color:black;
  background:linear-gradient(to bottom,  #A1CFCD 50%, #FFFFFF 50%); 
  max-height:45px;
  padding:0 20px
}

/* AboutComponent */

.about-me-header{
  margin-top:-36px;
  background:linear-gradient(to bottom, #FFFFFF 50%, #E2ACAC 50%);
  max-width: 400px;
}

.about-me-container{
  background-color: #FAF3F3;
}

.about-info-styling{
  max-width:1000px;
}


/* GraphicComponent */

.overlayed-text{
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlayed-text h4{
  font-size: 1rem;
}
.hero-graphic-photo{
  max-width:1366px;
  position: relative;
  color:black;
} 

.graphic-intro-text{
  max-width:200px;
}

/* below-ovelay-works-but-do-not-use */
/* .colour-overlay:before {
  background-color:#FDEE67;
  position: absolute;
  opacity: 0.8;
  border-radius:0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: ' ';
} */

.colour-overlay{
  position:relative;
}


.hero-graphic-photo img{
  object-fit:cover;
  min-height:300px;
}

/* FooterComponent */

.site-footer {
  color:#FFFFFF;
  background: #779A98;
  width: 100%;
  height: 400px;
  line-height: 60px;
}

/* WorkComponent */
.black-info-text{
  color:black;
  margin-bottom:0px;
}

.white-info-text{
  color:white;
  margin-bottom:0px;
}

.back-arrow{
  background:none;
  border:none;
  color:black;
  font-weight:900;
  transition: all 0.3s ease-in-out;
}

.back-arrow:hover{
  color:grey;
  background:none;
  border:none;
  text-decoration:none;
}

.line-width-black{
  margin:0px 0px;
  padding:0px 0px;
  max-width:220px;
  border:2px solid rgb(0,0,0);
}

.line-width-white{
  margin:0px 0px;
  padding:0px 0px;
  max-width:220px;
  border:2px solid white;
}
.card{
  border-radius:0px;
}

.colour-overlay-container-green{
  position:relative;
}

.colour-overlay-container-green:after{
  background: #779A98;
  color:black;
  opacity: 0.8;
  position:absolute;
  transition:all 0.9s ease-in-out;
  border-radius:0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: ' ';
}

.colour-overlay-container-green:hover:after{
  opacity: 0;
}

.work-overlayed-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.colour-overlay-container-yellow{
  position:relative;
}

.colour-overlay-container-yellow:after{
  background: #FDEE67;
  color:black;
  opacity: 0.8;
  position:absolute;
  transition:all 0.9s ease-in-out;
  border-radius:0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: ' ';
}

.colour-overlay-container-yellow:hover:after{
  opacity: 0;
}

.work-overlayed-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-work-info-photo {
  object-fit: cover;
  border-radius:0px;
}

/* WorkInfoComponent */

.card-title{
  font-weight: 700;
  font-size: 1.9rem;
  font-family:"Catamaran";
}

.card-subtitle{
  font-size: 1.1rem;
}
.card-footer, .card-title, .breadcrumb, .card-subtitle{
  background-color: transparent;
  border-bottom:0px;
  border-top:0px;
  padding-top:0px;
  padding-bottom:0px;
  margin-bottom:0px;
}

.workInfoCard hr{
  margin:0px 0px;
  padding:0px 0px;
  max-width:220px;
  border:2px solid rgb(0,0,0);
}

.card-text{
  font-size:0.8rem;
}

.card-footer a{
  color: #779A98;
}

.card-footer a:hover{
  transition: all 0.3s ease-in-out;
  color: grey;
}

/* ContactComponent */
  .form-control{
    font-size:0.8rem;
    border-radius:0px;
    font-weight:300;
  }

  .form-group label{
    font-family:"Catamaran";
    font-weight:700;
    font-size: 1.5rem;
  }

  .form-group{
    font-size: 0.8rem;
  }

  /* transitions */
  .page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

/* .page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
} */

/* media-queries */

@media (min-width: 576px){

}

@media (min-width: 768px){
  /* WorkInfoComponent */
  .workInfoCard {
    flex-direction: row;
  }

}

@media (min-width: 992px) {
/* HeaderComponent */
  .navbar-brand{
    font-size: 2rem;
  }

  /* OverallStyling */
  h4{
    font-size:1.5rem;
  }

  h3{
    font-size:1.7rem;
  }
  
  h5{
    font-size:1.2rem;
  }

  /* GraphicComponent */
  .hero-graphic-photo {
    padding:0 80px;
  }

  /* GraphicComponent */
  .overlayed-text h4{
    font-size: 1rem;
  }
    /* WorkInfoComponent */
  .card-text {
    font-size:0.9rem;
  }

  .graphic-intro-text{
    max-width:230px;
  }

  /* GraphicComponent */
  h1{
    font-size: 10rem;
  }

  .overlayed-text h4{
    font-size: 1.1rem;
  }

}

@media (min-width: 1200px) { 
  h1{
    font-size: 12rem;
  }

  .workInfoContainer {
    padding-top:80px;
    padding-bottom:100px;
  }
}